body {
  background-color: #222831;
  color: white;
  /* text-align: center; */
  font-family: 'Roboto', sans-serif;
}

#title{
  text-align: center;
}

button {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: auto;
  height: auto;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
}

button:active {
  transform: translateY(4px);
}

#btnImg {
  width: 170px; 
  height: 55px;
}

#submenu {
  text-align: center;
}

.stroke {
  fill: none;
  stroke: #455D7A;
  stroke-width: 3px;
  opacity: 0.5;
}

.fill {
  fill: #455D7A;
  opacity: 0.5;
}

.graticule {
  fill: none;
  stroke: #E3E3E3;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #F95959;
}

.boundary {
  fill: none;
  stroke: #455D7A;
  stroke-width: .5px;
}

.svg-container{
  margin: 0 auto;
  margin-top: 30px;
  height: auto;
  /* background-image: url(../imgs/orbits.png); */
  background-repeat: no-repeat;
  text-align: center;
}

.orbit{
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #fff;
  width: 100%;
  float: left;
}

.orbit .orbitTitle{
  width: 25%;
  float: left;
}

.orbit .satelliteImages{
  width: 75%;
  float: right;
}

.orbit-satellite{
  animation: 10s fadeIn;
}

.orbit-satellite.failure{
  background-color: #ff1a1a;
  border-radius: 50%;
  padding: 5px;
}

.orbit-satellite.success{
  background-color: #59b300;
  border-radius: 50%;
  padding: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.orbit h2{
  opacity: 0.7;
  font-weight: lighter;
  display: inline-block;
  margin-top: 0;
  margin-right: 20px;
}

.orbit img{
  margin-right: 20px;
}

#globe{
  /* margin: 496px 25% 50px; */
  border-radius: 50%;
  box-shadow:
  inset 0 0 50px #fff,
  inset 20px 0 80px #99F0CA,
  inset -20px 0 80px #0ff,
  inset 20px 0 300px #99F0CA,
  inset -20px 0 300px #0ff,
  0 0 50px #fff,
  -10px 0 80px #99F0CA,
  10px 0 80px #0ff;
}

.arcs {
  stroke-width: 2px;
  fill: none;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}