/*Main Class CSS*/

body {
  background-image: url("http://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
  background-opacity: 0.1;
  color: white;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

button {
  background-color: #455D7A;
  width: 210px;
  height: 70px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 0 15px;
}

button:first-of-type {
  margin-left: 40px;
}

button:active {
  transform: translateY(4px);
}

button a {
  text-decoration: none;
  color: white;
}

/*Class CSS*/

.selected-btn {
  box-shadow:
  0px 0 80px #0ff
}

.svg-container {
  margin: 0 auto;
  margin-top: 30px;
  height: auto;
  background-repeat: no-repeat;
  text-align: center;
}

.svg-container h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.orbit #legend {
  height: 50%;
  width: 100%;
  margin-bottom: 20px;
}

.orbit {
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #fff;
  width: 100%;
  float: left;
}

.orbit .orbitTitle {
  width: 15%;
  float: left;
}

.orbit .satelliteImages {
  width: 80%;
  float: right;
}

.orbit-satellite {
  animation: 10s fadeIn;
}

.orbit-satellite.failure {
  background-color: #AC2C2C;
  border-radius: 40%;
  padding: 10px;
}

.orbit-satellite.success {
  background-color: #1BAC44;
  border-radius: 40%;
  padding: 10px;
}

.orbit h2 {
  opacity: 0.7;
  font-weight: lighter;
  display: inline-block;
  margin-top: 0;
  margin-right: 20px;
}

.orbit h5 {
  font-weight: lighter;
  margin: 0;
  opacity: 0.7;
}

.orbit img {
  margin-right: 20px;
  height: 30px;
  width: 30px;
}

.stroke {
  fill: none;
  stroke: #455D7A;
  stroke-width: 3px;
  opacity: 0.5;
}

.fill {
  fill: #455D7A;
  opacity: 0.5;
}

.graticule {
  fill: none;
  stroke: #E3E3E3;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #F95959;
}

.boundary {
  fill: none;
  stroke: #455D7A;
  stroke-width: .5px;
}

.arcs {
  stroke-width: 2px;
  fill: none;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}


/*ID Css*/

#title {
  text-align: center;
  margin-bottom: 50px;
}

#intro {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  display: block;
  font-size: 14pt;
}

#submenu {
  text-align: center;
}

#submenu h3 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  margin-top: 15px;
  font-weight: lighter;
  color: skyblue;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

#globe {
  border-radius: 50%;
  box-shadow:
  inset 0 0 50px #fff,
  inset 20px 0 80px #99F0CA,
  inset -20px 0 80px #0ff,
  inset 20px 0 300px #99F0CA,
  inset -20px 0 300px #0ff,
  0 0 50px #fff,
  -10px 0 80px #99F0CA,
  10px 0 80px #0ff;
}

#modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 30%;
  color: white;
  background-image: url("https://ak3.picdn.net/shutterstock/videos/11621657/thumb/1.jpg");
  background-position: -100px;
  width: 500px;
  height: auto;
  text-align: center;
  padding: 30px;
  opacity: 1;
  border-radius: 10px;
  z-index: 1000000;
}

#pieTitle {
  margin-bottom: 20px;
}

#pieCharts {
  margin-top: 70px;
}